.contact-page {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}
.contact-page .contact-info {
  flex: 300px;
  color: var(--font-color);
}

.contact-page .contact-info > div {
  display: flex;
  gap: 10px;
  margin-block: 15px;
  flex-wrap: wrap;
}
.contact-page .contact-info .info > div {
  display: flex;
  gap: 15px;
  align-items: center;
}

.contact-page .contact-info .info article {
  color: var(--main-color);
  background-color: var(--transparent-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page .contact-info > div h3 {
  line-height: 1.5;
  text-transform: capitalize;
}

.contact-page .contact-info .soial-links {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.contact-page form {
  background-color: var(--section-color);
  padding: 20px;
  flex: 400px;
  border-radius: 5px;
  color: var(--font-color);
}
.contact-page form h2 {
  margin-bottom: 20px;
}

.contact-page form .inputs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px 20px;
}
.contact-page form .inp .input-wrapper,
.contact-page form .inp textarea,
.contact-page form .select-input .placeholder {
  background-color: var(--body-color);
  border: solid 1px var(--border-color);
}

.contact-page form .inputs-container .inp {
  flex: 200px;
}

.contact-page form > .inp {
  margin-block: 10px;
}

@media (max-width: 1000px) {
  .contact-page {
    gap: 20px;
  }
  .contact-page .contact-info h2 {
    font-size: 20px;
  }
  .contact-page .contact-info p {
    font-size: 15px;
  }
  .contact-page .contact-info .info > div {
    gap: 10px;
  }
  .contact-page .contact-info .info article {
    width: 37px;
    height: 37px;
  }
  .contact-page .contact-info > div h3,
  .contact-page .contact-info > div span {
    font-size: 15px;
    line-height: 1;
  }
  .contact-page .contact-info .soial-links {
    gap: 10px;
  }
  .contact-page form h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .contact-page form {
    padding: 15px;
  }
  .contact-page form .inputs-container {
    gap: 10px;
  }
  .contact-page form > .inp {
    margin-block: 5px;
  }
}

@media (max-width: 600px) {
  .contact-page .contact-info h2 {
    font-size: 18px;
  }
  .contact-page .contact-info p {
    font-size: 14px;
  }
  .contact-page .contact-info .info article {
    width: 33px;
    height: 33px;
    font-size: 13px;
  }
  .contact-page .contact-info > div h3,
  .contact-page .contact-info > div span {
    font-size: 13px;
    display: block;
  }
  .contact-page .contact-info .soial-links {
    margin-top: 0;
  }
  .contact-page form h2 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .contact-page form {
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .contact-page {
    gap: 10px;
  }
  .contact-page .contact-info h2 {
    font-size: 15px;
  }
  .contact-page .contact-info p {
    font-size: 12px;
  }
  .contact-page .contact-info .info article {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .contact-page .contact-info > div h3,
  .contact-page .contact-info > div span {
    font-size: 12px;
  }
  .contact-page form h2 {
    font-size: 15px;
  }
  .contact-page form {
    padding: 8px;
  }
  .contact-page .contact-info > div {
    margin-block: 5px;
  }
  .contact-page form .inputs-container {
    gap: 5px;
  }
}
