.landing {
  background-color: var(--transparent-color);
  min-height: calc(90vh - 80px);
  gap: 50px;
  align-items: center;
}

.landing .img img {
  border-radius: 10px;
  box-shadow: 0 0 20px var(--transparent-color);
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}
.landing .landing-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.landing .landing-text h1 {
  text-transform: capitalize;
  line-height: 1;
  color: var(--font-color);
  font-size: 35px;
  -webkit-text-fill-color: var(--transparent-color);
  -webkit-text-stroke: 1px var(--font-color);
  font-weight: 600;
}
.landing .landing-text h1 span {
  -webkit-text-stroke: 2px var(--main-color);
  color: var(--main-color);
  text-shadow: 0 0 20px var(--main-color);
  opacity: 0.7;
}
.landing .landing-text .btn {
  min-width: 100px;
}
.landing .landing-text p {
  font-size: 16px;
  color: var(--font-color);
}
.landing .landing-text .statistics {
  justify-content: space-between;
  color: var(--font-color);
  width: 90%;
  margin: auto;
}
.landing .landing-text .statistics article {
  text-align: center;
}
.landing .landing-text .statistics h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 27px;
}
.landing .landing-text .statistics h2::before {
  content: "+";
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.cards-container .card {
  background-color: var(--section-color);
  padding: 30px;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  color: var(--font-color);
}
.cards-container .card .icon {
  color: white;
  background: var(--main-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  margin: auto;
  transition: 0.7s;
}
.cards-container .card:hover .icon {
  box-shadow: 0 0 0 350px var(--main-color);
}
.cards-container .card:hover {
  color: white;
}
.cards-container .card h2 {
  font-size: 23px;
  text-transform: capitalize;
}
.cards-container .card p {
  opacity: 0.7;
}

.home-btn {
  margin-top: 20px;
  margin-inline: auto;
}

.home-register {
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  background: url("../../assets/register.jpg") center no-repeat;
  background-size: cover;
}
.home-register::before {
  content: "";
  position: absolute;
  background: #136eb9b5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.home-register h1 {
  font-size: 40px;
  text-transform: capitalize;
  max-width: 60%;
  margin: auto;
}
.home-register p {
  max-width: 60%;
  margin-block: 20px;
  margin-inline: auto;
  font-size: 18px;
  font-weight: 500;
}
.home-register a {
  background-color: white;
  color: var(--main-color);
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
}
.home-register a:hover {
  background-color: var(--hover-color);
  color: white;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
.events-container .event-card {
  background-color: var(--section-color);
  border-radius: 10px;
  overflow: hidden;
}
.events-container .event-card iframe,
.events-container .event-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.events-container .event-card > div {
  padding: 20px;
  color: var(--font-color);
}
.events-container .event-card > div h2 {
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 700;
}
.events-container .event-card > div p {
  opacity: 0.7;
  font-size: 15px;
  font-weight: 500;
}
.events-container .event-card > div > div {
  opacity: 0.5;
  font-size: 13px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
