.btn {
  padding: 6px;
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn.delete {
  --main-color: #c22323;
  --hover-color: #8b2222;
}
.btn.save {
  --main-color: #1b944d;
  --hover-color: #19703d;
}
.btn.cancel {
  --main-color: #5a5a5a;
  --hover-color: #464646;
}

.btn.contained {
  background-color: var(--main-color);
  color: white;
  border: solid 1px transparent;
}
.btn.contained:hover {
  background-color: var(--hover-color);
}

.btn.outlined {
  background-color: transparent;
  border: solid 1px var(--main-color);
  color: var(--main-color);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn.outlined:hover {
  color: white;
}
.btn.outlined::before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: 0.4s;
}
.btn.outlined:hover::before {
  box-shadow: 0 0 0 150px var(--main-color);
}

button.sending:disabled {
  opacity: 0.9;
}

.btn.sending article {
  width: 15px;
  height: 15px;
  display: block;
  border: solid 3px;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
.btn.sending.contained article {
  border-color: white white white #9b9b9b;
}
.btn.sending.outlined article {
  border-color: var(--btn-bg) var(--btn-bg) var(--btn-bg) #9b9b9b;
}

.icon-button {
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--font-color);
  font-size: 20px;
}
.icon-button .icon-button-hover {
  position: absolute;
  background-color: #222;
  color: white;
  padding: 5px 6px;
  opacity: 0;
  width: max-content;
  max-width: 130px;
  pointer-events: none;
  z-index: 1;
  font-size: 13px;
}
.icon-button-hover.bottom {
  left: 50%;
  bottom: -85%;
  transform: translateX(-50%);
}
.icon-button-hover.top {
  left: 50%;
  top: -85%;
  transform: translateX(-50%);
}
.icon-button-hover.rigth {
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-button-hover.left {
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-button:hover .icon-button-hover {
  opacity: 1;
}

.icon-button.main {
  background-color: var(--main-color);
  color: white;
}
.icon-button.body-color {
  background-color: var(--body-color);
}
.icon-button.delete {
  background-color: #c22323;
  color: white;
}

.icon-button.secondry-color {
  background-color: var(--section-color);
}
.icon-button:not(.main):hover {
  background-color: var(--border-color);
}
.icon-button.delete:hover {
  background-color: #8b2222;
}
.icon-button-hover::before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.icon-button-hover.bottom::before {
  left: 50%;
  transform: translateX(-50%);
  top: -3px;
}
.icon-button-hover.top::before {
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
}
.icon-button-hover.left::before {
  top: 50%;
  transform: translateY(-50%);
  right: -3px;
}
.icon-button-hover.right::before {
  top: 50%;
  transform: translateY(-50%);
  left: -3px;
}

@media (max-width: 800px) {
  .btn {
    letter-spacing: 0px;
    gap: 5px;
  }
  .icon-button {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
  .icon-button .icon-button-hover {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .icon-button {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .icon-button .icon-button-hover {
    padding: 4px 6px;
  }
}
