:root {
  --dashboard-padding: 90px;
}
.dashboard-header .top-header {
  height: 55px;
  background-color: #2c3e50;
  display: flex;
  padding-inline: var(--dashboard-padding);
  align-items: center;
  justify-content: space-between;
  color: white;
}
.dashboard-header .top-header .logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dashboard-header .top-header .logo svg {
  color: var(--main-color);
}
.dashboard-header .top-header article {
  display: flex;
  gap: 10px;
}
.top-header .search-container label {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px 7px;
  border: solid 1px white;
  border-radius: 20px;
  cursor: text;
  background-color: white;
}
.top-header .search-container label input {
  background-color: transparent;
  border: none;
  font-size: 12px;
}
.top-header .search-container label svg {
  color: #666;
}
.dashboard-header .bottom-header {
  height: 65px;
  background-color: var(--body-color);
  padding-inline: var(--dashboard-padding);
  display: flex;
}

.bottom-header .link {
  position: relative;
}

.bottom-header .link h2 {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  font-size: 17px;
  padding-inline: 15px;
  border-bottom: solid 2px transparent;
  cursor: pointer;
}
.bottom-header .link:hover h2,
.bottom-header .link:has(.active) h2 {
  border-color: var(--main-color);
  background-color: var(--section-color);
}
.bottom-header .link article {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--body-color);
  display: none;
  flex-direction: column;
  animation: fadeIn 0.3s;
  min-width: 100%;
  z-index: 4;
}
.bottom-header .link:hover article {
  display: flex;
}

.bottom-header .link article a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  padding: 5px 10px;
  white-space: nowrap;
  font-size: 14px;
  border-bottom: solid 1px var(--border-color);
}

.bottom-header .link article a:hover,
.bottom-header .link article a.active {
  background-color: var(--aside-color);
  border-color: var(--main-color);
}
.dashboard-main {
  padding: 40px var(--dashboard-padding);
}

.dashboard-form {
  background-color: var(--body-color);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px 20px;
}
.dashboard-form.flex-form {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-form-container .submit-btn {
  justify-self: end;
}
