.main-title {
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
  color: var(--font-color);
  text-align: center;
}
.main-title h1 {
  text-transform: capitalize;
  font-size: 35px;
}
.main-title p {
  opacity: 0.7;
}
