.about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.about-us > div {
  flex: 300px;
  color: var(--font-color);
}
.about-us .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us .info > div {
  overflow: hidden;
  border-radius: 10px;
}

.about-us .info h2 {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  background-color: var(--transparent-color);
  padding: 10px;
  cursor: pointer;
}

.about-us .info h2 svg {
  color: var(--main-color);
  font-size: 22px;
}

.about-us .info h2:hover .arrow,
.about-us .info h2.active .arrow {
  rotate: 180deg;
}

.about-us .info h2.active + article {
  display: flex;
  padding-block: 10px;
  background-color: var(--section-color);
}

.about-us .info article {
  display: none;
  gap: 10px;
  flex-direction: column;
  animation: fadeIn 0.5s;
}

.about-us .info p {
  max-width: 89%;
  margin: auto;
  line-height: 1.6;
}
.about-us .info p:not(:last-child) {
  border-bottom: solid 1px var(--border-color);
  padding-bottom: 10px;
}

.about-us .img img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.features-container > div {
  background-color: var(--body-color);
  color: var(--font-color);
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.features-container > div:hover::before,
.features-container > div:hover::after {
  width: 100%;
}
.features-container > div:hover > div::before,
.features-container > div:hover > div::after {
  height: 100%;
}

.features-container > div::before {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--main-color);
  width: 0;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.features-container > div::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--main-color);
  width: 2px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}
.features-container > div > div::before {
  content: "";
  position: absolute;
  height: 0;
  background: var(--main-color);
  width: 2px;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.features-container > div > div::after {
  content: "";
  position: absolute;
  height: 0;
  background: var(--main-color);
  width: 2px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}

.features-container > div svg {
  color: var(--main-color);
  font-size: 40px;
  border-bottom: solid 3px var(--transparent-color);
  padding-bottom: 10px;
}

@media (max-width: 1000px) {
  .about-us {
    gap: 30px;
  }
  .about-us .info h2 {
    font-size: 20px;
  }
  .about-us .info h2 svg {
    font-size: 18px;
  }
  .about-us .info p {
    font-size: 14px;
    max-width: 90%;
  }
}
@media (max-width: 800px) {
  .about-us,
  .about-us .info {
    gap: 10px;
  }
  .about-us .info h2 {
    font-size: 17px;
    padding: 8px;
  }
  .about-us .info p {
    font-size: 13px;
    max-width: 93%;
  }
  .about-us .info h2 svg {
    font-size: 16px;
  }
  .about-us .info article {
    gap: 5px;
  }
  .about-us .img img {
    max-height: 350px;
  }
  .features-container > div {
    padding: 15px;
  }
  .features-container > div svg {
    font-size: 35px;
  }
  .features-container h3 {
    font-size: 16px;
  }
  .features-container p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .about-us .info h2 {
    font-size: 16px;
    padding: 7px;
  }
  .about-us .info p {
    max-width: 95%;
  }
  .about-us .info p:not(:last-child) {
    padding-bottom: 5px;
  }
  .about-us .info h2 svg {
    font-size: 15px;
  }
  .features-container > div {
    padding: 10px;
  }
  .features-container > div svg {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .features-container h3 {
    font-size: 15px;
  }
  .features-container p {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .about-us .info h2 {
    font-size: 14px;
    gap: 3px;
  }
  .about-us .info p {
    font-size: 12px;
    max-width: 96%;
  }
  .about-us .info h2 svg {
    font-size: 14px;
  }
  .about-us .img img {
    max-height: 300px;
  }
}
