.home-header {
  background-color: var(--body-color);
  height: 80px;
  display: flex;
  align-items: center;
}
.home-header .container {
  display: flex;
  gap: 10px;
}
.home-header .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--main-color);
}
.home-header .logo img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.home-header .logo h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}
.home-header .logo h4 {
  line-height: 1;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
}
.home-header nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-transform: capitalize;
  color: var(--font-color);
  align-items: center;
}
.home-header nav a {
  position: relative;
  font-weight: 600;
  font-size: 17px;
}
.home-header nav a.active,
.home-header nav a:hover {
  color: var(--main-color);
}

.home-header nav a:not(.active)::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  left: 50%;
  transition: 0.4s;
  transform: translateX(-50%);
}
.home-header nav a:not(.active):hover::after {
  width: 100%;
}
