.home-header {
  height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 20px 0 var(--aside-color);
  backdrop-filter: blur(4px);
  background: #ffffff75;
}
body.dark .home-header {
  background-color: #141419a8;
}
.home-header .icon-button.body-color {
  background-color: transparent;
}
.home-header .icon-button.body-color:hover {
  background-color: var(--aside-color);
}

.home-header .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--main-color);
}
.home-header .logo img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.home-header .logo h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}
.home-header .logo h4 {
  line-height: 1;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
}
.home-header nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-transform: capitalize;
  color: var(--font-color);
  align-items: center;
}
.home-header nav a {
  position: relative;
  font-weight: 600;
  font-size: 17px;
}
.home-header nav a.active,
.home-header nav a:hover {
  text-shadow: 0 0 20px var(--main-color);
  color: var(--main-color);
}

.home-header nav a:not(.active)::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  left: 50%;
  transition: 0.4s;
  transform: translateX(-50%);
}
.home-header nav a:not(.active):hover::after {
  width: 100%;
}
.home-header .mobile-menu {
  display: none;
}
.home-header .language {
  position: absolute;
  background-color: var(--body-color);
  animation: fadeIn 0.4s;
  top: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.home-header .language h4 {
  cursor: pointer;
  border-bottom: solid 1px var(--border-color);
  line-height: 1.5;
  text-transform: capitalize;
  padding-inline: 5px;
  font-size: clamp(11px, 1.1vw, 1.2vw);
  font-weight: 600;
}
.home-header .language h4:hover,
.home-header .language h4.active {
  background-color: var(--border-color);
  font-weight: bold;
}

@media (max-width: 1000px) {
  .home-header .logo {
    gap: 8px;
  }
  .home-header .logo img {
    width: 30px;
    height: 30px;
  }
  .home-header .logo h2 {
    font-size: 15px;
  }
  .home-header .logo h4 {
    font-size: 12px;
  }
  .home-header nav a {
    font-size: 15px;
  }
  .home-header {
    height: 75px;
  }
}

@media (max-width: 800px) {
  .home-header .contact-btn {
    display: none;
  }
  .home-header .logo h2 {
    font-size: 13px;
  }
  .home-header .logo h4 {
    font-size: 11px;
  }
  .home-header .logo img {
    width: 28px;
    height: 28px;
  }
  .home-header {
    height: 70px;
  }
  .home-header nav a {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .home-header {
    height: 60px;
  }
  .home-header .items-container {
    justify-content: flex-end;
  }
  .home-header .mobile-menu {
    display: block;
  }
  .home-header nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--aside-color);
    flex-direction: column;
    gap: 0;
    display: none;
    padding-inline: var(--container-inline-padding);
    animation: fadeIn 0.3s;
  }
  .home-header nav.active {
    display: flex;
  }
  .home-header .logo h2 {
    font-size: 12px;
  }
  .home-header nav a {
    width: 100%;
    font-size: 13px;
  }
  .home-header nav a:not(.active)::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .home-header {
    height: 55px;
  }
  .home-header .logo {
    gap: 6px;
  }
  .home-header .logo img {
    width: 26px;
    height: 26px;
  }
  .home-header .logo h2 {
    font-size: 11px;
  }
  .home-header .logo h4 {
    font-size: 10px;
  }
  .home-header nav a {
    font-size: 12px;
    line-height: 1.5;
  }
}
