footer.home-footer {
  background-color: black;
  padding-block: 30px;
  color: white;
}
footer.home-footer .footer-header {
  margin-bottom: 15px;
  gap: 20px;
}
footer.home-footer .footer-header > div {
  flex: 250px;
}
footer.home-footer .footer-header > div h1 {
  text-transform: capitalize;
  line-height: 1;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.7;
}
footer.home-footer .footer-header > div .socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
footer.home-footer .footer-header > div .socials a {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: #777777;
  font-size: 15px;
}
footer.home-footer .footer-header > div p {
  margin-top: 10px;
  font-size: 14px;
  color: #777777;
}

footer.home-footer .footer-header > div h2 {
  text-transform: capitalize;
  line-height: 1;
  color: #888;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

footer.home-footer .footer-header > div.links {
  display: flex;
  flex-direction: column;
}
footer.home-footer .footer-header > div.links a {
  color: #ccc;
  text-transform: capitalize;
  line-height: 1.5;
}
footer.home-footer .footer-header > div.links a:hover {
  color: var(--main-color);
  transform: translateX(10px);
}
footer.home-footer .footer-header .info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #888;
  text-transform: capitalize;
  font-size: 16px;
}
footer.home-footer .footer-header .info svg {
  font-size: 90%;
  color: #555;
}
footer.home-footer > p {
  border-top: solid 1px var(--border-color);
  padding-top: 10px;
  text-align: center;
  opacity: 0.5;
}
@media (max-width: 1000px) {
  footer.home-footer .footer-header > div h2,
  footer.home-footer .footer-header > div h1 {
    font-size: 20px;
  }
  footer.home-footer .footer-header > div p,
  footer.home-footer .footer-header > div.links a {
    font-size: 13px;
  }
  footer.home-footer .footer-header .info,
  footer.home-footer > p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  footer.home-footer {
    padding-block: 20px;
  }
  footer.home-footer .footer-header > div h2,
  footer.home-footer .footer-header > div h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  footer.home-footer .footer-header > div .socials {
    margin-top: 10px;
  }
  footer.home-footer .footer-header > div .socials a {
    width: 23px;
    height: 23px;
    font-size: 14px;
  }
  footer.home-footer .footer-header > div p,
  footer.home-footer .footer-header > div.links a {
    font-size: 12px;
  }
  footer.home-footer .footer-header > div {
    flex: 100%;
  }
  footer.home-footer .footer-header {
    margin-bottom: 10px;
    gap: 10px;
  }
  footer.home-footer .footer-header > div.links {
    border-block: solid 1px #8a8a8a23;
    padding-block: 10px;
  }
  footer.home-footer .footer-header .info,
  footer.home-footer > p {
    font-size: 13px;
    gap: 3px;
  }
  footer.home-footer .footer-header > div {
    gap: 5px;
  }
}
@media (max-width: 400px) {
  footer.home-footer {
    padding-block: 10px;
  }
  footer.home-footer .footer-header > div h2,
  footer.home-footer .footer-header > div h1 {
    font-size: 16px;
    margin-bottom: 3px;
  }
  footer.home-footer .footer-header > div .socials {
    gap: 5px;
  }
  footer.home-footer .footer-header > div .socials a {
    width: 20px;
    height: 20px;
    font-size: 13px;
  }
  footer.home-footer .footer-header > div p,
  footer.home-footer .footer-header > div.links a {
    font-size: 11px;
    margin: 0;
  }

  footer.home-footer .footer-header {
    gap: 5px;
    margin-bottom: 5px;
  }
  footer.home-footer .footer-header > div.links {
    border-block: solid 1px #8a8a8a23;
    padding-block: 8px;
  }
  footer.home-footer .footer-header .info,
  footer.home-footer > p {
    font-size: 12px;
  }
  footer.home-footer .footer-header > div {
    gap: 3px;
  }
}
