* {
  transition: 0.4s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
input,
textarea {
  caret-color: var(--main-color);
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding-inline: 10%;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}
input {
  caret-color: var(--var-color);
}
.relative {
  position: relative;
}
.flex-start {
  display: flex;
  justify-content: center;
}

body {
  --body-color: #fff;
  --main-color: #136eb9;
  --transparent-color: #136eb917;
  --border-color: #83838340;
  --section-color: #f0f1f3;
  --font-color: #000;
  --box-shadow: 0 0 16px #eeeeee;
  background-color: var(--section-color);
  overflow-x: hidden;
  --aside-color: #e7e9eb;
  --hover-color: #094b81;
}
body.dark {
  --border-color: #83838340;
  --body-color: #141419;
  --section-color: #181a1e;
  --font-color: #fff;
  --box-shadow: 0 0 16px #171717;
  --aside-color: #222223;
}

.section-color {
  background-color: var(--section-color);
}
.body-color {
  background-color: var(--body-color);
}

body.arabic {
  direction: rtl;
}

.flex-direction {
  flex-direction: column;
}
.font-color {
  color: var(--font-color);
}

body::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
.align-start {
  align-items: flex-start;
}
.main-padding {
  padding-block: 50px;
}

.en-arrow:hover i {
  animation: 0.3s alternate infinite en-arrow;
}
.align-center {
  align-items: center;
}

.c-pointer {
  cursor: pointer;
}

@keyframes en-arrow {
  100% {
    transform: translateX(5px);
  }
}
